.wrapper {
  @apply bg-black fixed h-screen inset-0 overflow-auto z-50;

  --bg-opacity: 0.9;

  &.large {
    .content {
      @apply max-w-4xl;
    }
  }
}

.inner {
  @apply flex min-h-full items-center justify-center;
}

.content {
  @apply bg-gray-800 max-w-lg p-8 relative w-full;

  transition: transform 0.1s;

  @screen sm {
    @apply my-8 rounded;
  }
}

.needFocus {
  transform: scale(1.02);
}

.closeButton {
  @apply absolute flex h-10 items-center justify-center leading-none text-gray-500 text-2xl w-10;

  right: theme("spacing.2");
  top: theme("spacing.2");

  &:hover {
    @apply text-white;
  }
}

.title {
  @apply font-bold mb-4 text-xl;
}
