.wrapper {
  @apply cursor-pointer;

  // &:not(:hover) {
  //   .title {
  //     @apply invisible;
  //   }
  // }
}

.inner {
  @apply flex h-14 items-center justify-center overflow-hidden relative text-gray-500;

  &:hover {
    @apply text-white;
  }
}

.icon {
  @apply text-2xl;
}

.unreadBadge {
  @apply absolute bg-teal-500 bottom-0 px-1 right-0 text-xs;
}

.title {
  @apply absolute bg-teal-500 flex font-bold items-center pointer-events-none px-3 py-2 rounded-r shadow-md whitespace-nowrap;

  left: 100%;

  &:before {
    @apply absolute border-8 border-transparent;

    border-right-color: theme("colors.teal.500");
    content: "";
    right: 100%;
  }
}

.opaque {
  .inner {
    @apply bg-gray-800 text-white;

    &:hover {
      @apply bg-gray-700;
    }

    &.active {
      .icon {
        @apply text-teal-500;
      }
    }
  }
}
